pkgbase = korvike
	pkgdesc = korvike takes a Go template and executes it
	pkgver = 1.0.0
	pkgrel = 1
	url = https://github.com/Luzifer/korvike
	arch = i686
	arch = x86_64
	license = Apache
	makedepends = go
	source = korvike-1.0.0.tar.gz::https://github.com/Luzifer/korvike/archive/v1.0.0.tar.gz
	sha512sums = e17dfe2b812bc1a7f61e6760ff0186c0e4bf1e1380f10882ddca9999e3795c0001efe2c95b32f304e11a0842aedef0c7fc7ea005bf1c2a18c6c1ce16bc274abd

pkgname = korvike
