pkgbase = korvike
	pkgdesc = korvike takes a Go template and executes it
	pkgver = 1.0.3
	pkgrel = 1
	url = https://github.com/Luzifer/korvike
	arch = i686
	arch = x86_64
	license = Apache
	makedepends = go
	source = korvike-1.0.3.tar.gz::https://github.com/Luzifer/korvike/archive/v1.0.3.tar.gz
	sha512sums = 459358c8c6c593caa2bd1ec08952cd9780bbbf245971f83de907c4d488fefc4e5640f1ada0bfc82967bf4de4692468ba46f8af3b855da208a4e229d2ee9ae259

pkgname = korvike
